<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Farras Profile</title>
</head>
<body class="theme">
    <div class="container">
        <div class="row" style="float: right;">   
            <label class="switch">
                <input type="checkbox">
                <span class="slider round" id ="slider_theme"></span>
            </label>
            <h6>Change theme</h6><br><br>
        </div>
    </div>
    <div class="container">
        <div class ="row align-items-center"  style="justify-content: center;">
            <h2><strong> Welcome To My Website</strong> </h2>
        </div>
    </div>
    
    <div class="container" id="image"> 
        <div class="row align-items-center">
            <div class="col-sm-4"> 
                <img src="{% static 'images/myphoto.png' %}" width="300" height="315">
            </div>
            <div class="col-sm-8" >
                <div id="accordion" style="float: right;" >
                    <h5 name="accordion-header-1"><strong>Aktivitas</strong></h5>
                    <div class="panel">
                        <p class="text-accordion" name='content-accordion-1'>
                            <b> Mahasiswa Sarjana Fasilkom UI</b> <br> 
                            Saya sekarang berkuliah di Fakultas Ilmu Komputer Universitas Indonesia jurusan
                            Sistem Informasi angkatan tahun 2018 
                        </p>
                        <p>
                            <b> Staff Departemen Akademis dan Kepemimpinan BEM Fasilkom UI 2019</b> <br> 
                            Departemen Akademis dan Kepemimpinan BEM Fasilkom UI membantu Fasilkom dalam
                            menyelesaikan masalah akademis dan kepemimpinan, serta memfasilitasi mahasiswa 
                            agar dapat mengembangkan kedua hal tersebut
                        </p>
                    </div>
                    <h5 name="accordion-header-2"><strong>Pengalaman Organisasi/Kepanitiaan</strong></h5>
                    <div class="panel">                            
                        <p class="text-accordion" name='content-accordion-2'> 
                            <b>Ketua PK SMAN 3 BANDUNG</b> 
                            <br> Menjembatani pihak sekolah, siswa, dan juga OSIS dalam menyampaikan aspirasinya <br> 
                            <br> <b> Project Officer SIWAK-NG 2019</b> 
                            <br> Pekan keagamaan Islam yang diadakan untuk mahasiswa baru sebanyak 200 orang<br>
                            <br><b> Project Officer Bakti Sosial Komunitas Alumni SMAN 3 Bandung</b>
                            <br> memberikan dampak pada lebih dari 60 orang anak yatim dan mengelola uang
                            lebih dari 10 juta rupiah untuk kegiatan bakti sosial
                        </p>
                    </div>
                    <h5 name ="accordion-header-3" ><strong>Prestasi</strong></h5>
                    <div class="panel">
                        <p class="text-accordion" name='content-accordion-3'>
                            <ul>
                                <li>Asisten Dosen Kalkulus I Fasilkom UI</li>
                                <li>Semifinalis Nutrifood Leadership Award</li>
                                <li>Finalis Lomba Video Aksi Hemat Energi</li>
                                <li>Beasiswa Ganesha Operation 1 tahun penuh</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script> 
</body>
</html>